cabeçalho{background-color: black;color: floralwhite;}
.Cabeçalho-lista-item {display: inline-block; margin: 0 16px; font-size:20px;}
.corinthians-imagem{width : 25%;}
.corinthians{
    background-image: linear-gradient(black,white);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;}
    .corinthians-div-conteudo{width: 45%;}
    .corinthians-titulo{padding: 30px 0}

    .jogador{ padding: 24px 0; background: ;}
